<table 
    id="transactions_html_table"
    class="easyui-datagrid" 
    title="" 
    style="width:700px;height:250px"
    data-options="rownumbers:true,fit:true,singleSelect:true,url:'datagrid_data1.json',method:'get'">
    <thead>
        <tr>
            <th data-options="field:'itemid',width:'10%'">ID</th>
            <th data-options="field:'itemid',width:'10%'">Sacco ID</th>
            <th data-options="field:'itemid',width:'10%'">Member ID</th>
            <th data-options="field:'amount',width:'15%'">{{_('Amount')}}</th>
            <th data-options="field:'narrative',width:'10%'">{{_('Narrative') }}</th>
            <th data-options="field:'reference',width:'10%'">{{_('Reference') }}</th>
            <th data-options="field:'status',width:'10%'">{{_('Status') }}</th>
            <th data-options="field:'trnsaction_type',width:'10%'">{{_('Transaction Type') }}</th>
            <th data-options="field:'payment_method',width:'15%'">{{_('Payment Method') }}</th>
            <th data-options="field:'trace',width:'10%'">{{_('Trace') }}</th>
            <th data-options="field:'check_status_trace',width:'10%'">{{_('Staus Trace') }}</th> 
            <th data-options="field:' balance_before',width:'10%'">{{_('Balance Before') }}</th>
            <th data-options="field:' balance_after ',width:'10%'">{{_('Balance After') }}</th>
            <th data-options="field:'created_on',width:'40%',align:'right'">{{ _('Created On') }}</th>
            <th data-options="field:'updated_on',width:'40%',align:'right'">{{ _('Updated On') }}</th>
            <th data-options="field:'completion_date',width:'40%',align:'right'">{{ _('Completion Date') }}</th>
           
        </tr>
    </thead>
</table>
