<table 
    id="sacco_member_html_table"
    class="easyui-datagrid" 
    title="" 
    style="width:700px;height:250px"
    data-options="rownumbers:true,fit:true,singleSelect:true,url:'datagrid_data1.json',method:'get'">
    <thead>
        <tr>
            <th data-options="field:'itemid',width:'10%'">ID</th>
            <th data-options="field:'itemid',width:'10%'">Sacco ID</th>
            <th data-options="field:'account_number',width:'15%'">{{_('Account Number')}}</th>
            <th data-options="field:'fname',width:'10%'">{{_('First Name') }}</th>
            <th data-options="field:'lname',width:'10%'">{{_('Last Name') }}</th>
            <th data-options="field:'gender',width:'10%'">{{_('Gender') }}</th>
            <th data-options="field:'phone',width:'10%'">{{_('Phone') }}</th>
            <th data-options="field:'email',width:'15%'">{{_('Email') }}</th>
            <th data-options="field:'role',width:'10%'">{{_('Role') }}</th>
            <th data-options="field:'balance',width:'10%'">{{_('Balance') }}</th> 
            <th data-options="field:'next_of_kin_name',width:'10%'">{{_('Next Of Kin Name') }}</th>
            <th data-options="field:'date_of_birth',width:'10%'">{{_('Date Of Birth') }}</th>
            <th data-options="field:'created_on',width:'40%',align:'right'">{{ _('Created On') }}</th>
            <th data-options="field:'updated_on',width:'40%',align:'right'">{{ _('Updated On') }}</th>
            <th data-options="field:'action',width:'20%',align:'right'">Options</th>
        </tr>
    </thead>
</table>

<div id="sacco_member_html_table_toolbar">
    <a href="javascript:void(0)" 
        id="sacco_member_html_table_toolbar_new_button"
        class="easyui-linkbutton" 
        iconCls="icon-add" 
        plain="false">{{ _('New SACCO MEMBER') }}</a>
    <a href="javascript:void(0)" 
        class="easyui-linkbutton" 
        id="sacco_member_html_table_toolbar_update_button"
        iconCls="icon-edit" 
        plain="false" 
        onclick="saccomemberAddNewSaccoMember()">{{ _('Update SACCO MEMBER') }}</a>
    <a href="javascript:void(0)" 
        class="easyui-linkbutton" 
        id="sacco_member_html_table_toolbar_delete_button"
        iconCls="icon-remove" 
        plain="false" 
        onclick="saccomemberAddNewSaccoMember()">{{ _('Delete SACCO MEMBER') }}</a>

    <span id="sacco_member_html_table_sacco_name" style="margin-left: 20px; font-weight: bold;">
        <a href="#" onclick="global_functions.goBackToSaccos();">SACCO: {{ sacco['name']}}</a>
    </span>    
</div>

{%  include 'saccomember/sacco_member_form.html' %}
