<table 
    id="acgs_html_table"
    class="easyui-datagrid" 
    title="" 
    style="width:700px;height:250px"
    data-options="rownumbers:true,fit:true,singleSelect:true,url:'datagrid_data1.json',method:'get'">
    <thead>
        <tr>
            <th data-options="field:'itemid',width:'10%'">ID</th>
            <th data-options="field:'name',width:'20%'">Name</th>
            <th data-options="field:'created_on',width:'20%',align:'right'">{{ _('Created On') }}</th>
            <th data-options="field:'updated_on',width:'20%',align:'right'">{{ _('Updated On') }}</th>
            <th data-options="field:'action',width:'20%',align:'right'">Options</th>
        </tr>
    </thead>
</table>
<script>
    
</script>