<div id="acgs_html_form_container" style="display:none;">
    <form id="acgs_html_form_id" 
        method="post" 
        style="margin:0;padding:20px 50px">
        <h3>{{ _('ACG Entry') }}</h3>
        <div style="margin-bottom:10px">
            <input 
                name="name" 
                id="acgs_html_form_input_name"
                class="easyui-textbox" 
                required="true" 
                label="{{ _('ACG Name') }}" style="width:100%">
        </div>

        <strong>{{ _('%(privileges_title)s', privileges_title=messages['privilegs']) }}</strong>
        <hr/>
        <div style="margin-bottom:10px">
            <table
                width="100%"
                id="acgs_html_form_input_privileges_table">
                <tr>
                    <td>
                        <input 
                            id="acgs_html_form_input_privilege_0"
                            name="privilage_name[]" 
                            class="easyui-combobox" 
                            required="true" 
                            label="{{ _('%(privilege_name)s', privilege_name=messages['privilege_name']) }}" 
                            data-options=""
                            style="width:100%">
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
            <a href="#" 
                id="acgs_html_form_privileges_add"
                class="easyui-linkbutton" 
                title="More Privileges">{{ _('Add') }}</a>

            <a href="#" 
                id="acgs_html_form_privileges_remove"
                class="easyui-linkbutton" 
                title="More Privileges">{{ _('Remove') }}</a>
        </div>
    </form>
</div>